@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Stapel';

  font-display: swap;
  src: url('../fonts/Stapel-Bold.woff2') format('woff2'), url('../fonts/Stapel-Bold.woff') format('woff');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;

  &:focus {
    outline: none;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
}

input {
  border: none;
  font: inherit;

  &:focus {
    outline: none;
  }
}
